* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #1C1C1C; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                 Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
                 sans-serif;
}

.splash {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 55vw;
    max-width: 280px;  
    height: auto;
}